# materials folder (additional materials like artworks / images in its original form)
materials

# python virtual environment
venv

# transpiled js & map files not needed in git
static/scripts/*.js
static/scripts/*.js.map